@font-face {
    font-family: DungGeunMo;
    src: local(DungGeunMo),
        url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff)
            format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: BMJUA;
    src: local(BMJUA),
        url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff)
            format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: ghanachoco;
    src: local(ghanachoco),
        url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff)
            format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
