@keyframes materialRipple {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-50%, -50%) scale(var(--material-scale));
        opacity: 0;
    }
}

a,
input,
button {
    text-decoration: none;
    color: #bbb;
}
a:hover {
    color: #aaa;
}
button,
label {
    cursor: pointer;
}

body {
    background: #121212;
    color: #bbb;
    padding: 20px 10px;
}

@media screen and (min-width: 1100px) {
    #app {
        display: flex;
    }

    .app__col {
        width: 50%;
        padding: 10px;
    }
}

.app__col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body,
input,
button {
    font-family: DungGeunMo;
}

input,
textarea {
    outline: 0;
    width: 250px;
    color: #bbb;
}

.icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    fill: #f1f1f1;
}

input[type="range"] {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: revert;
    max-width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #343434;
}

input[type="range"]::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    margin-top: -5px;
    background: #ccc;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: pointer;
}

input[type="color"] {
    display: block;
    height: calc(1rem + 20px);
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.button {
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: #333 0 0 0 1px inset;
    transition: 0.3s cubic-bezier(0.39, 0.5, 0.15, 1);
}

.button:hover {
    box-shadow: #666 0 0 0 40px inset;
    color: #f1f1f1;
}

.button > .icon {
    margin-right: 5px;
}
.material-ripple {
    position: relative;
    overflow: hidden;
}

.material-ripple__animate {
    width: 2px;
    height: 2px;
    position: absolute;
    border-radius: 50%;
    background: #bdc3c7;
    pointer-events: none;
    animation: materialRipple forwards 0.5s linear;
}

.input {
    display: flex;
    border: 1px solid #333;
    border-radius: 5px;
    overflow: hidden;
}

.input--hidden {
    display: none;
}

.input__title,
.input > input:not([type="range"]):not([type="color"]) {
    display: inline-block;
    padding: 10px;
}

.input__title {
    flex-shrink: 0;
    box-sizing: content-box;
    border-right: 1px solid #333;
}

.input > div {
    position: relative;
    display: inline-block;
    width: 250px;
    padding: 10px;
}

.margin {
    margin-bottom: 20px;
}

.size {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.size__input {
    margin: 0 5px 10px;
}

.canvas {
    margin: 30px 0;
    max-width: 100%;
    max-height: 80vh;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option__input {
    margin-bottom: 1.2rem;
}

.text {
    position: relative;
    margin-bottom: 1.5rem;
}

.text__input {
    width: 90vw;
    max-width: 300px;
    padding: 10px 20px;
    line-height: 1.5;
    text-align: center;
    overflow: hidden;
    resize: none;
}

.text__input::placeholder {
    transition: 0.5s;
}

.text__input:focus::placeholder {
    opacity: 0;
}

.text__line {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid #fff;
    transform: scale(0);
    opacity: 0;
    transition: 0.5s;
}

.text__line--top {
    bottom: auto;
    top: 0;
}

.text__input:focus ~ .text__line,
.text__input:hover ~ .text__line {
    transform: scaleX(1);
    opacity: 1;
}

.download-button {
    background: 0;
    border: 0;
    margin-top: 30px;
}

.dropdown {
    position: relative;
    margin-bottom: 1.2rem;
    overflow: visible;
}

.dropdown__button {
    cursor: pointer;
    user-select: none;
}

.dropdown__button > .icon {
    position: absolute;
    right: 10px;
    transition: transform 0.5s;
}

.dropdown__button--activated > .icon {
    transform: rotate(180deg);
}

.dropdown__content {
    position: absolute;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: 0.5s;
    scrollbar-width: thin;
}

.dropdown__content::-webkit-scrollbar {
    width: 6px;
}

.dropdown__content::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 12px;
}

.dropdown__content--reveal {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.font-list {
    width: 250px;
    max-height: 18rem;
    top: calc(100% + 10px);
    right: 0;
    text-align: center;
    background: #121212;
    border: 1px solid #333;
    border-radius: 5px;
    overflow-y: auto;
}

.font-list__item {
    width: 100%;
    padding: 10px;
}
